@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@700&display=swap");
$breakpoint: (
    sm: "640px",
    // small devices
    md: "768px",
    // tablets
    lg: "1024px",
    // small laptops
    xl: "1280px",
    // desktop
    xxl: "1440px",
    // large desktop (custom),
);
* {
    box-sizing: border-box;
}

html {
    --primary-color: #005d63;
    --yellow: #ffd44d;
    --text-dark: #131717;

    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
}

button,
input {
    background: transparent;
    outline: none;
    border: none;
}
button,
a {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: min(1218px, 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}
.hidden {
    display: none;
}
