.slider {
    background: #f1deb4;
    z-index: 0;
}

.slider__track {
    position: relative;
    display: flex;
    overflow-x: hidden;
}

.slider__item {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.slider__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-dark);

    width: 40%;

    @media (max-width: 768px) {
        width: 100%;
        padding-top: 60px;
    }
}
.slider__heading {
    margin-bottom: 20px;
    font-family: "Roboto Slab";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 6.8rem; /* 117.241% */

    @media (max-width: 1280px) {
        font-size: 4.8rem;
    }

    @media (max-width: 1024px) {
        font-size: 3.5rem;
        line-height: 4.8rem;
    }
    @media (max-width: 768px) {
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

.slider__desc {
    margin-bottom: 34px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}
.slider__button {
    width: fit-content;
    padding: 15px 35px;
    color: #fff;
    background-color: var(--primary-color);
    text-align: center;

    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}
.slider__image-wrap {
    padding: 70px 0;

    @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
        padding-bottom: 135px;
    }
}

.slider__image {
    height: 550px;

    @media (max-width: 1280px) {
        height: 450px;
    }
    @media (max-width: 1024px) {
        height: 380px;
    }
    @media (max-width: 768px) {
        height: 320px;
    }
}

.slider__indicators {
    position: absolute;
    display: flex;
    gap: 10px;
    left: 0;
    bottom: 11.6rem;

    @media (max-width: 1280px) {
        bottom: 8.6rem;
    }

    @media (max-width: 1024px) {
        bottom: 5.6rem;
    }
}
.slider__dot {
    height: 3px;
    width: 30px;
    background: #fff;

    &.active {
        background: var(--text-dark);
    }
}
